<h1>SprintFWD Rails Takehome</h1>
<h2><%= link_to "Members", "http://localhost:3000/members" %></h2>
<h2><%= link_to "Teams", "http://localhost:3000/teams" %></h2>
<h2><%= link_to "Projects", "http://localhost:3000/projects" %></h2>
